@model ApartmentManager.Models.Property
@{ ViewBag.Title = "Apartments";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Apartments of @Model.PropertyName</h2>
<p>
    @Html.ActionLink("New Apartment", "create/" + Model.Id, "apartment", null, new { @class = "btn btn-primary" })
</p>
<table id="apartments" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Floor</th>
            <th>House No</th>
            <th>Owner Name</th>
            <th>Tenent Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<div class="modal fade" id="assignOwner" tabindex="-1" role="dialog" aria-labelledby="Owner" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Owner">Assign Owner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("OwnerAssignForm")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Assign</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="assignTenent" tabindex="-1" role="dialog" aria-labelledby="Tenent" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Tenent">Assign Tenent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Assign</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#apartments").DataTable({
                ajax: {
                    url: "/api/apartment?pId="+@Model.Id,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "floorNo"
                    },

                    {
                        data: "unitNo"
                    },
                    {
                        data: "ownerId",
                        render: function (data, type, apartment) {
                            const assignBtn = '<button type="button" data-toggle="modal" data-target="#assignOwner" class="btn btn-sm btn-primary"> Assign Now</button>';
                            return apartment?.owner ? apartment.owner.name : "No Owner Found " + assignBtn;
                        }
                    },
                    {
                        data: "tenentId",
                        render: function (data, type, apartment) {
                            const assignBtn = '<button type="button" data-toggle="modal" data-target="#assignTenent" class="btn btn-sm btn-primary"> Assign Now</button>';
                            return apartment?.tenent ? apartment.tenent.name : "No Tenent Found " + assignBtn;
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, unit) {
                            let content = "<a href='/apartment/edit/" + unit.id + "' class='btn btn-success btn-sm'>Edit</a>";
                            content += "<button class='btn btn-danger btn-sm delete' data-apartment-id=" + data + ">Delete</button>";

                            return "<div class='btn-group'>" + content + "</div>";
                        }
                    }
                ]
            });

            $("#apartments").on("click", ".delete", function () {
                var button = $(this).attr("data-apartment-id");
                if (confirm("are you sure you want to delete the apartment?")) {
                    $.ajax({
                        url: "/api/apartment/" + button,
                        method: "DELETE",
                        Successs: function () {

                            table.row(buttons.parents("tr")).remove().draw();


                        }
                    })
                }
            })
        })</script>
}
