@model IEnumerable<ApartmentManager.Models.ApartmentType>

@{ ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="row">
    <div class="col-md-6">
        <h2>Apartment Types</h2>
    </div>
    <div class="col-md-6">
        @Html.ActionLink("New Type", "Create", "ApartmentType", null, new { @class = "btn btn-primary float-right" })
    </div>
</div>

<table id="apartmentTypes" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Squre Feets</th>
            <th>No Rooms/Baths</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>$(document).ready(function () {
    var table = $("#apartmentTypes").DataTable({
                ajax: {
            url: "/api/apartmentType",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, category) {
                            return "<a href='/ApartmentType/edit/" + category.id + "'>" + category.name + "</a>";
                        }
                    },

                    {
                        data: "squareFeets",
                        render: function (data, type, aptType) {
                            return aptType.squareFeets+" Sqft"
                        }
                    },
                    {
                        data: "numRooms",
                        render: function (data, type, aptType) {
                            return aptType.numRooms+ " Beds / "+ aptType.numBathRooms+ " Baths"
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, category) {
                            let content = "<a href='/ApartmentType/edit/" + category.id + "' class='btn btn-success btn-sm'>Edit</a>";
                            content += "<button class='btn btn-danger btn-sm delete' data-category-id=" + data + ">Delete</button>";

                            return "<div class='btn-group'>"+content+"</div>";
                        }
                    }
                ]
            });

    $("#apartmentTypes").on("click", ".delete", function () {
        var button = $(this).attr("data-category-id");
        if (confirm("are you sure you want to delete the category?")) {
                    $.ajax({
                        url: "/api/apartmentType/" + button,
                        method: "DELETE",
                        dataType: "json",
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            })
        })</script>
}
