<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">ABC Apartments</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Management
    </div>

    <!-- Nav Item Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/Property">
            <i class="fas fa-fw fa-building"></i>
            <span>Properties</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePpl" aria-expanded="true" aria-controls="collapsePpl">
            <i class="fas fa-fw fa-user"></i>
            <span>People</span>
        </a>
        <div id="collapsePpl" class="collapse" aria-labelledby="collapsePpl" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner">
                <a class="collapse-item" href="/Owner">Owners</a>
                <a class="collapse-item" href="/Tenent">Tenents</a>
            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseRpts" aria-expanded="true" aria-controls="collapseRpts">
            <i class="fas fa-fw fa-folder"></i>
            <span>Reports</span>
        </a>
        <div id="collapseRpts" class="collapse" aria-labelledby="collapseRpts" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner">
                <a class="collapse-item" href="/Report/DuePayments">Due Payments</a>
                <a class="collapse-item" href="/Report/Apartments">Apartment</a>
            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseStgs" aria-expanded="true" aria-controls="collapseStgs">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapseStgs" class="collapse" aria-labelledby="collapseStgs" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner">
                <a class="collapse-item" href="/ApartmentType">Aartment Types</a>
                <a class="collapse-item" href="/SecurityGuard">Security Guards</a>
                <a class="collapse-item" href="/User">Users</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>