@model ApartmentManager.Models.Movie
@{
    ViewBag.Title = "MovieDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieDetails</h2>
<p>Name:@Model.Name</p>
<p>Genre: @Model.GenreType.GenreName</p>
<p>NumberInStock: @Model.NumberInStock</p>
<p>ReleaseDate: @Model.ReleaseDate</p>
